@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
th {
  text-align: left;
}
.w-25 {
  width: 25%;
}
.pt-1 {
  padding-top: 0.5rem;
}
.mt-10 {
  margin-top: 2rem;
}
.borderBottom {
  border-bottom: 1px dotted;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
/* Start Main Style */
.invoice-container {
  max-width: 480px;
  margin: auto;
  background-color: #ecf0f3;
  display: block;
  position: relative;
}
.invoice-header {
  align-items: center;
}
.invoice-header .logo {
  position: absolute;
  top: 0;
  left: 0;
}

.invoice-container .invoice-header h6 {
  font-size: 15px;
  align-items: center;
  color: #111118;
  margin-bottom: 8px;
}

.invoice-container .extra-info p {
  font-weight: 500;
  font-size: 15px;
  align-items: center;
  color: #111118;
  opacity: 1;
  display: flex;
}

.invoice-container .extra-info span:nth-child(1) {
  font-weight: bold;
  color: #111118;
  opacity: 1;
  margin-right: 8px;
}

.invoice-container .billing-info span:nth-child(1) {
  font-weight: bold;
  color: #111118;
  opacity: 1;
  margin-right: 8px;
}

.invoice-container .billing-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 10px; */
}

.invoice-container .billing-info p {
  font-weight: 500;
  font-size: 15px;
  color: #111118;
}

.invoice-container .invoice-table table {
  width: 100%;
}

.invoice-container .total-price {
  margin-top: 10px;
  display: block;
  text-align: right;
}

.invoice-container .invoice-footer p {
  margin-top: 15px;
  font-weight: bold;
  font-size: 15px;
  line-height: 14px;
  color: #111118;
}
.invoice-table table thead tr th:first-child {
  border-top: 1px dashed;
  border-bottom: 1px dashed;
}
.invoice-table table thead tr th {
  font-size: 15px;
  justify-content: space-between;
  text-align: left !important;
}
.invoice-table table tbody tr td {
  font-size: 15px;
}

.invioce-table table {
  width: 100%;
}

.invioce-table table thead th {
  background-color: transparent !important;
  border-top: 1px dashed;
  border-bottom: 1px dashed;
  font-size: 15px !important;
  font-weight: normal;
}
.invioce-table table tbody tr td {
  border-bottom: 1px solid;
  font-size: 15px;
  vertical-align: middle;
}
.invioce-table table tbody tr:last-child td {
  border-bottom: none;
}
.invioce-table table tbody .table-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.invioce-table table tbody .table-item span {
  font-size: 15px;
  opacity: 1;
}
.invioce-table table tbody .table-item p {
  font-size: 15px;
  margin-bottom: 0;
  line-height: 16px;
}

.total-bottom {
  width: 100%;
}
.total-bottom .item-total-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  font-size: 15px;
}

.total-bottom .item-total-bottom.vat {
  border-bottom: 1px dotted;
}
.item-bold {
  font-weight: 500;
}

.total-bottom .condition-text {
  border-top: 1px dotted;
  border-bottom: 1px dotted;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
  font-weight: 500;
}
.total-bottom .quote-text {
  font-size: 15px;
  font-weight: 500;
}
.total-bottom .signature-text {
  font-size: 14px;
  border-top: 2px solid;
  padding-left: 2.5rem;
}

.invoice-footer span {
  opacity: 0.7;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  display: block;
  width: 100%;
}

.payment-button {
  margin-top: 10px;
  margin-right: 5px;
}
.total-bill-info-container {
  padding-left: 0px !important;
  padding-top: 10px;
}

.total-bill-info {
  background-color: #f7f8fa;
  max-width: 260px;
  padding: 10px 10px;
}

.total-bill-info .bill-info {
  display: flex;
  justify-content: space-between;
  background: white;
  align-items: center;
  margin-bottom: 12px;
  padding: 7px 5px 0px 5px;
}

.total-bill-info .bill-info h6 {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #9ca8b3;
}

.total-bill-info .bill-info h5 {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #18323f;
}

.total-bill-info .shipping-charge {
  display: flex;
  justify-content: space-between;
}

.total-bill-info .shipping-charge > div {
  display: flex;
  align-items: center;
}

.total-bill-info .shipping-charge label {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #18323f;
  margin-left: 5px !important;
}

.total-bill-info .shipping-charge .bill-info {
  width: 130px;
}

.total-bill-info .shipping-charge .bill-info h5 {
  width: 100%;
}

.shipping-charge {
  height: 23px;
}
.shipping-charge input {
  direction: rtl;
  height: 23px;
}

.bill-info h5 input {
  width: 130px;
  direction: rtl;
  border: none !important;
}
.css-2b097c-container {
  width: 100%;
}
.bill-info h5 input {
  height: 23px;
}

.itemList {
  overflow-y: scroll;
}
.delete-icon {
  margin-right: 5px !important;
}
.pay-button {
  background-color: #187de4 !important;
  border-radius: 5px;
  padding: 7px 5px 7px 5px !important;
  cursor: pointer;
  margin-bottom: 0px !important;
}
.pay-button h6 {
  color: #fff !important;
  line-height: 30px !important;
  margin: auto;
}
@media print {
  body {
    margin: 0mm !important;
  }
  @page {
    size: 115mm 250mm;
    margin-top: 0mm !important;
    padding-top: 0px;
    padding-left: 0px !important;
  }
  .invoice-container {
    width: 107mm;
    display: block !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
    margin-right: 10px !important;
    font-family: arial !important;
    margin-bottom: 50px;
  }
  .print-header {
    margin-top: 0px;
  }
}
